<h1>
    <b>Day 12:</b> Memory Lane
</h1>

<ul class="imgGallery">
    <li class="images">
        <img src="\assets\Screenshot (323).png" />
        <div class="desc">December 6, 2024</div>
    </li>
    <li class="images">
        <img src="\assets\image.png" />
        <div class="desc">December 6, 2024</div>
    </li>
    <li class="images">
        <img src="\assets\image (8).png" />
        <div class="desc">November 26, 2024</div>
    </li>
    <li class="images">
        <img src="\assets\Screenshot (317).png" />
        <div class="desc">November 23, 2024</div>
    </li>
    <li class="images">
        <img src="\assets\RobloxScreenShot20241123_154343007.png" />
        <div class="desc">November 23, 2024</div>
    </li>
    <li class="images">
        <img src="\assets\image (2).png" />
        <div class="desc">November 20, 2024</div>
    </li>
    <li class="images">
        <img src="\assets\image (1).png" />
        <div class="desc">November 20, 2024</div>
    </li>
    <li class="images">
        <img src="\assets\image (3).png" />
        <div class="desc">November 20, 2024</div>
    </li>
    <li class="images">
        <img src="\assets\image (9).png" />
        <div class="desc">November 20, 2024</div>
    </li>
    <li class="images">
        <img src="\assets\image (10).png" />
        <div class="desc">November 20, 2024</div>
    </li>
    <li class="images">
        <img src="\assets\image (4).png" />
        <div class="desc">November 19, 2024</div>
    </li>
    <li class="images">
        <img src="\assets\Screenshot (315).png" />
        <div class="desc">November 19, 2024</div>
    </li>
    <li class="images">
        <img src="\assets\Screenshot (311).png" />
        <div class="desc">November 17, 2024</div>
    </li>
    <li class="images">
        <img src="\assets\Screenshot (312).png" />
        <div class="desc">November 17, 2024</div>
    </li>
    <li class="images">
        <img src="\assets\image (5).png" />
        <div class="desc">November 14, 2024</div>
    </li>
    <li class="images">
        <img src="\assets\image (11).png" />
        <div class="desc">October 15, 2024</div>
    </li>
    <li class="images">
        <img src="\assets\Screenshot (309).png" />
        <div class="desc">October 15, 2024</div>
    </li>
    <li class="images">
        <img src="\assets\Screenshot (305).png" />
        <div class="desc">October 5, 2024</div>
    </li>
    <li class="images">
        <img src="\assets\Screenshot (304).png" />
        <div class="desc">October 5, 2024</div>
    </li>
    <li class="images">
        <img src="\assets\image (6).png" />
        <div class="desc">October 4, 2024</div>
    </li>
    <li class="images">
        <img src="\assets\image (7).png" />
        <div class="desc">October 1, 2024</div>
    </li>
    <li class="images">
        <img src="\assets\Screenshot (303).png" />
        <div class="desc">September 29, 2024</div>
    </li>
</ul>

<div class="section-12">
    <p> 
        SURPRISE! Welcome to Memory Lane! ✨ Here I have compiled all of the 
        pictures that we've taken together since September 29, 2024 up to now!
        ☺️ I remember the first time we played a Roblox game together. It's crazy
        to me how even though that was only three months ago that we played, it
        feels like forever ago. 🤍
    </p>

    <p>
        Bangkok Dinner was our first official game we played in Roblox, and it 
        was so much fun! I remember how excited I was to show you how to navigate
        the game! You were so cute trying to make your avatar eat egg rolls and 
        rice. 🤣🤍 It was the cutest Roblox date I've ever been to! 🤍 After
        you got the hang of things, we played a bunch of other games together 
        like 2 Player obbies, Welcome to Bloxburg, and my favorite, Adopt Me! 🤍
    </p>

    <p>
        Even though we've only played Roblox together for a short period of time,
        I've enjoyed every single moment of it. I even made sure to take at least
        one picture of every game we played together! I hope you enjoy looking 
        back at all of the memories we've created together, and I can't wait to
        creat more with you in the future Shad! 🤍 Also, thank you for always 
        playing Roblox with me and healing my inner child. 🤍 It means so much 
        to me that you take the time out of your day to play silly games with me, 
        and I appreciate it more than you know. I love you Shad! 🤍
    </p>
</div>
