<h1>
    <b>Day 9:</b> Secret Button
</h1>

<div class="section-9">

    <button (click)="visible = !visible">
        {{ visible ? 'HIDE' : 'CLICK ME'}}
    </button>

    <div class="surprise" [class.visible]="visible">
        <p>The video is supposed to be here!</p>
    </div>

    <p>
        SURPRISE! Welcome to.. a Secret Button?! Uh oh... This is <i>very</i> important.
        Before clicking on the button, all I ask from you is to please read 
        and understand the instructions below slowly and carefully.
    </p>

    <p>
        INSTRUCTIONS: ⚠️ This button can potentially be very DANGEROUS. Before 
        attempting to click the button, please proceed with caution. When you 
        are ready to begin, use your mouse to hover over the button and 
        right-click carefully to reveal the secret surprise.  
    </p>
</div>
