<h1>
    <b>Day 23:</b> Virtual Hug
</h1>

<div class="section-23">
    <div class="myGifs">
        <img src="assets/IMG_7301.gif" alt="Teddy Bear" class="teddy-bear">
        <img src="assets/IMG_7300.gif" alt="Hug" class="hug">
        <img src="assets/IMG_7304.gif" alt="Kiss" class="kiss">
    </div>

    <p>
        SURPRISE! Welcome to Virtual Hug! ✨ This is the second last day of your 
        Christmas Advent Calendar Rashad! I hope you have been enjoying the daily 
        surprises so far. Today, I just want to give you a virtual hug to show you
        my appreciation for you. 🫂🤍 I feel like you really need it right now. 
        So if you feel a sense of warmth and comfort, that's just me. 🤍
        I know things have been tough for you lately, but I want you to know that 
        I am here for you, regardless of the distance. I will <b>always</b> be here, no
        matter what! Through <b>thick and thin</b>, remember. I am sending you all my love 
        and positivity your way. 🤍 Try not to stress so much, my love. I hope you 
        have a wonderful day and enjoy the festive season with your loved ones. 🤍🎄🎅🏽
    </p>

    <p>
        P.S. The teddy bear is supposed to be you. 🧸🤍 I also added a bonus kiss
        because you're so cute and so sweet! 😘🤍
    </p>

    <p>
        <b>I love you more Rashad! 🤍🫂🤍</b>
    </p>
</div>