<h1>
    <b>Day 13:</b> Emoji Trivia
</h1>

<div class="section-13">
    <div class="emojis">
        <ol class="myList">
            <li>🏠👦🏼</li>
            <li>❄️🌌🚂</li>
            <li>🥶⛄</li>
            <li>🧝🏼</li>
            <li>🟢😈🎄🎁</li>
        </ol>
    </div>

    <p>
        SURPRISE! Welcome to Emoji Trivia! ✨ Here you will guess the Christmas Movies
        represented by the emojis from the list above! No cheating, silly! Make sure 
        you try and take some time to guess the movie! They're very popular Christmas
        movies, but they might be a little difficult to solve right away! I'll 
        include instructions just for you down below! ☺️
    </p>
    
    <p>
        INSTRUCTIONS: Take at least a minute guessing what movie each of the emojis
        represents! Once you're finished, I have included the answers below! Make 
        sure to use your mouse to hover over or around to see the answers! 
        Remember, no cheating Shad! 😝 You get one selfie from me for each 
        correct answer you get! 🤍 Let me know if you won!! I hope this was 
        fun, I love you, silly!
    </p>

    <br>

    <p>
        <b>HOVER HERE FOR THE ANSWERS!</b>
    </p>

    <div class="answerKey">
        <p class="emoji1">
            Answer 1!
        </p>
        <p class="answer">
            Home Alone
        </p>

        <br>
        <br>
    
        <p class="emoji2">
            Answer 2!
        </p>
        <p class="answer">
            Polar Express
        </p>

        <br>
        <br>
    
        <p class="emoji3">
            Answer 3!
        </p>
        <p class="answer">
            Frosty the Snowman
        </p>

        <br>
        <br>
    
        <p class="emoji4">
            Answer 4!
        </p>
        <p class="answer">
            Elf
        </p>

        <br>
        <br>
    
        <p class="emoji5">
            Answer 5!
        </p>
        <p class="answer">
            How the Grinch Stole Christmas
        </p>

        <br>
        <br>
    </div>
</div>
