<h1>
    <b>Day 22:</b> Haloday Shorts
</h1>

<div class="section-22">
    <div class="videos">
        <iframe 
        width="449" height="400" src="https://www.youtube.com/embed/VYZV4rZIT0M" 
        title="Wort Wort Wort Bells" frameborder="0" allow="accelerometer; autoplay; 
        clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen>
    </iframe>

    <iframe 
        width="449" height="400" src="https://www.youtube.com/embed/Q0slZfMdyuo" 
        title="A Merry WORT-mas Jingle" frameborder="0" allow="accelerometer; autoplay; 
        clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen>
    </iframe>
    </div>

    <p>
        SURPRISE! Welcome to Haloday Shorts: Wort Wort Edition! ✨ Here I have 
        included some funny Halo related / Elite-inspired holiday clips that I
        thought were cute and funny! I thought it would be fun to bring a bit of 
        the Covenant into the Christmas spirit for you. I hope you enjoy them! 
        Merry Wortmas, my Spartan! ☺️ 🤍
    </p>

    <p>
        DESCRIPTION: The Halo Reach Elites Would Like to Wish Everyone a Very Merry Christmas!
    </p>

    <p>
        DESCRIPTION: The little halo Elites sing you a little Christmas jingle- uh oh!
    </p>
</div>