<app-countdown></app-countdown>

<div class="grid-container1">
    <a routerLink="/page-25">
        <div class="grid-item star"><b>25</b></div>
    </a>
</div>

<div class="grid-container2">
    <a routerLink="/page-24">
        <div class="grid-item"><b>24</b></div>
    </a>
</div>

<div class="grid-container3">
    <a routerLink="/page-22">
        <div class="grid-item"><b>22</b></div>
    </a>
    <a routerLink="/page-23">
        <div class="grid-item"><b>23</b></div>
    </a>
</div>

<div class="grid-container4">
    <a routerLink="/page-19">
        <div class="grid-item"><b>19</b></div>
    </a>
    <a routerLink="/page-20">
        <div class="grid-item"><b>20</b></div>
    </a>
    <a routerLink="/page-21">
        <div class="grid-item"><b>21</b></div>
    </a>
</div>

<div class="grid-container5">
    <a routerLink="/page-15">
        <div class="grid-item"><b>15</b></div>
    </a>
    <a routerLink="/page-16">
        <div class="grid-item"><b>16</b></div>
    </a>
    <a routerLink="/page-17">
        <div class="grid-item"><b>17</b></div>
    </a>
    <a routerLink="/page-18">
        <div class="grid-item"><b>18</b></div>
    </a>
</div>

<div class="grid-container6">
    <a routerLink="/page-10">
        <div class="grid-item"><b>10</b></div>
    </a>
    <a routerLink="/page-11">
        <div class="grid-item"><b>11</b></div>
    </a>
    <a routerLink="/page-12">
        <div class="grid-item"><b>12</b></div>
    </a>
    <a routerLink="/page-13">
        <div class="grid-item"><b>13</b></div>
    </a>
    <a routerLink="/page-14">
        <div class="grid-item"><b>14</b></div>
    </a>
</div>

<div class="grid-container7">
    <a routerLink="/page-4">
        <div class="grid-item"><b>4</b></div>
    </a>
    <a routerLink="/page-5">
        <div class="grid-item"><b>5</b></div>
    </a>
    <a routerLink="/page-6">
        <div class="grid-item"><b>6</b></div>
    </a>
    <a routerLink="/page-7">
        <div class="grid-item"><b>7</b></div>
    </a>
    <a routerLink="/page-8">
        <div class="grid-item"><b>8</b></div>
    </a>
    <a routerLink="/page-9">
        <div class="grid-item"><b>9</b></div>
    </a>
</div>

<div class="grid-container8">
    <a routerLink="/page-1">
        <div class="grid-item wood"><b>1</b></div>
    </a>
    <a routerLink="/page-2">
        <div class="grid-item wood"><b>2</b></div>
    </a>
    <a routerLink="/page-3">
        <div class="grid-item wood"><b>3</b></div>
    </a>
</div>