<h1> 
    <b>Day 1:</b> Welcome
</h1>

<div class="section-1">
    <iframe src="https://giphy.com/embed/10UR4QmyzKZa36" 
        width="480" height="271" 
        style="border: none" 
        frameBorder="0" 
        class="giphy-embed" 
        allowFullScreen>
    </iframe>

    <p> 
        SURPRISE! Welcome to your very own Christmas Advent Calendar, Rashad! 🎄
        🤍 Each day brings a little surprise made just for you to make the 
        countdown to Christmas extra special this year! Even though Advent is 
        about the countdown to Christmas, I thought it would be fun for you to 
        open mostly everything leading up to Christmas and experience the joy 
        almost all at once. I just want to thank you for being the amazing 
        person that you are. This is my way of showing you how much you mean to 
        me. I hope you enjoy each and every surprise!
    </p>

    <p>
        INSTRUCTIONS: Click on the door with the corresponding dates to reveal 
        your surprises! No cheating, silly! I'm watching you hehe... jk, 
        unless..? 🤔😝 Each surprise is something small but meaningful from me 
        to you. Some hold messages, some hold memories, and some are just plain 
        silly. They are essentially a reflection of our year together. 🤍 I 
        poured my heart into this because you’re my favorite person, and I 
        wanted to make this holiday a tiny bit more magical for you despite our 
        distance.
    </p>

    <p> I can’t wait to spend many more holidays with you Rashad, and I hope 
        this calendar adds a little extra love and joy to your Christmas season. 
        I love you more, always!!!
    </p>

    <p>
       Love, Dalila Solis 🫂🤍☺️
    </p>
    
</div>