<h1>
    <b>Day 2:</b> Memory Lane
</h1>

<ul class="imgGallery">
    <li class="images">
        <img src="\assets\413C6FD9-7EB8-4037-A1F7-FB6BE61DC947.jpg" />
        <div class="desc">November 12, 2023</div>
    </li>
    <li class="images">
        <img src="\assets\Halo-Infinite-Chief-Weapon-scaled_2.jpg" />
        <div class="desc">November 22, 2023</div>
    </li>
    <li class="images">
        <img src="\assets\spongebob_meme_puzzle_2.jpg" />
        <div class="desc">November 25, 2023</div>
    </li>
    <li class="images">
        <img src="\assets\air_ballon_puzzle.jpg" />
        <div class="desc">November 28, 2023</div>
    </li>
    <li class="images">
        <img src="\assets\Spongebob_meme_puzzle_3.jpg" />
        <div class="desc">December 2, 2023</div>
    </li>
    <li class="images">
        <img src="\assets\Puzzle_4.jpg" />
        <div class="desc">December 5, 2023</div>
    </li>
    <li class="images">
        <img src="\assets\Abel_11.jpg" />
        <div class="desc">December 9, 2023</div>
    </li>
    <li class="images">
        <img src="\assets\puzzle_7.jpg" />
        <div class="desc">December 10, 2023</div>
    </li>
    <li class="images">
        <img src="\assets\puppy_puzzle.jpg" />
        <div class="desc">December 10, 2023</div>
    </li>
    <li class="images">
        <img src="\assets\puppy_puzzle_2.jpg" />
        <div class="desc">December 19, 2023</div>
    </li>
    <li class="images">
        <img src="\assets\Songebob_Puzzle_4.jpg" />
        <div class="desc">December 23, 2023</div>
    </li>
    <li class="images">
        <img src="\assets\Songebob_Puzzle_5.jpg" />
        <div class="desc">December 26, 2023</div>
    </li>
    <li class="images">
        <img src="\assets\Songebob_Puzzle_6.jpg" />
        <div class="desc">January 5, 2024</div>
    </li>
    <li class="images">
        <img src="\assets\puzzle_234.jpg" />
        <div class="desc">January 7, 2024</div>
    </li>
    <li class="images">
        <img src="\assets\Puzzle_61.jpg" />
        <div class="desc">January 8, 2024</div>
    </li>
    <li class="images">
        <img src="\assets\Halo_background.jpg" />
        <div class="desc">January 15, 2024</div>
    </li>
    <li class="images">
        <img src="\assets\Frog_Puzzle.jpg" />
        <div class="desc">February 8, 2024</div>
    </li>
    <li class="images">
        <img src="\assets\LaAlienLa.jpg" />
        <div class="desc">June 22, 2024</div>
    </li>
    <li class="images">
        <img src="\assets\SpookySznWithMyBoo.jpeg" />
        <div class="desc">October 18, 2024</div>
    </li>
</ul>

<div class="section-2">
    <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit,
        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut 
        enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
        aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit 
        in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
        Excepteur sint occaecat cupidatat non proident, sunt in culpa qui 
        officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, 
        consectetur adipiscing elit. 
    </p>
    
    <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit,
        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut 
        enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
        aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit 
        in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
        Excepteur sint occaecat cupidatat non proident, sunt in culpa qui 
        officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, 
        consectetur adipiscing elit. 
    </p>
</div>