.imgGallery{
    display: grid;
    grid-template-columns: repeat(5, 2fr);
    grid-row: auto;
    grid-gap: 10px;
}

img{
    width: 100%;
    height: auto;
}

.desc {
    padding: 15px;
    text-align: center;
  }