<h1>
    <b>Day 10:</b> Jigsaw Puzzle
</h1>

<div class="section-10">
    <iframe src="https://jigsawpuzzles.io/g/a576e1f8-c240-4281-aaef-82566fc16d4b" width="70%" height="500"></iframe>

    <br>

    <p class="credit">
        Instrumental Christmas Holiday music | Christmas Countdown by Alex-Productions.
        Source: (Free Music Archive). License type: (CC BY-NC).
    </p>
    <audio controls loop>
        <source src="\assets\Alex-Productions - Instrumental Christmas Holiday music _ Christmas Countdown.mp3" />
    </audio>
    
    <p> 
        SURPRISE! Welcome to Jigsaw Puzzle! ✨ Here I have created a very secret and
        special image for you to save and download so that you can start working 
        on your own custom puzzle! This should be relatively quick and easy for 
        you, thus you should be able to complete this in no time! ☺️ I also 
        included some music for you to get you in the Christmas spirit! 🤍 (The 
        music automatically loops, so you can enjoy it while you work on your 
        puzzle!) 🎄🎅🏼🤍
        <br>
        P.S. Now you can write this down and cross it off your personal
        bucket list that you <i>FINALLY</i> won and completed a jigsaw puzzle
        without cheating this year! 😝🤍 YAY!! 
    </p>

    <p>
        INSTRUCTIONS: Scroll down and navigate to the link below on this page.
        The link which will automatically take you the secret custom image for 
        your puzzle! Make sure you download the image and insert it to the 
        official Jigsaw.io link above to get started! Click on the audio tag 
        right after, which is located under the Jigsaw.io link to enjoy some 
        Christmas tunes! I hope you enjoy!! 🤍
    </p>

    <p>
        <a href="\assets\CP_Shad.jpg">
            CLICK ME TO SEE THE SECRET CUSTOM IMAGE
        </a>
    </p>
</div>
