<h1>
    <b>Day 15:</b> Holiday Shorts
</h1>

<div class="section-15">
    <iframe width="560" height="315" 
    src="https://www.youtube.com/embed/Ea2r88hYYdc" 
    title="The Night Before Christmas: Halo Edition" frameborder="0" 
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; 
    picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" 
    allowfullscreen>
    </iframe>

    <p>
        SURPRISE! Welcome to Holiday Shorts! ✨ Here I have included The Night
        Before Christmas: Halo Edition. This is for you, so take a break, relax, 
        and get cozy as you watch the video! ☺️
    </p>

    <p>
        DESCRIPTION: Join Frank O’Connor for a special fireside reading of The 
        Night Before Christmas: Halo Edition. Happy holidays to you and yours 
        from all of us at 343 Industries!
    </p>
</div>