.countdown {
    text-align: center;
    color: white;
    font-family: 'della_respiraregular', georgia, serif;
  }
  
  .countdown h3 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: -20px;
  }
  
  .countdown p {
    font-size: 1.5em;
  }
  
  .countdown span {
    font-weight: bold;
    color: #ffcc00;
  }
  