<h1>
    <b>Day 6:</b> Holiday-Themed Secret Couple Recipes
</h1>


<div class="section-6">
    <img src="\assets\gluten-free-little-debbies.jpg" />

    <p>
        SURPRISE! Welcome to our Holiday-Themed Secret Couple Recipe! ✨ Here I have 
        compiled a list of Rashad-friendly ingredients for us to one day bake your 
        favorite: Gluten-Free Little Debbie Christmas Trees! ☺️🎄🤍
    </p>

    <p>
        To ensure our recipe is gluten-free, caffeine-free, peanut/tree nut-free,
        dairy-free, plant-based, organic and vegan.. I will list some of the ingredients 
        that fall under these categories below just to get a feel for what we're gonna be
        working with! P.S. If anytime, you feel that 
        we may need to change our ingredients to better suit you, that's not a 
        problem at all! ☺️ I will be more than happy to do more research so that 
        we can always make delicious holiday treats for us to share together! 🤍
    </p>

    <br>

    <div class="ingredients">
        <ol class="myList">
            INGREDIENTS:
            <li>2 boxes of Gluten-Free Yellow Cake Mix</li>
            <li>2 cups very cold heavy cream</li>
            <li>½ cup powdered sugar plus more for dusting</li>
            <li>1 tbsp EZ Gel</li>
            <li>1 tbsp instant vanilla pudding mix</li>
            <li>2 tsp pure vanilla extract</li>
            <li>2 lbs white chocolate melts</li>
            <li>Red food coloring</li>
            <li>Festive sprinkles</li>
            ...
        </ol>
    </div>

    <br>

    <p>
        Below is the link to the full recipe I found, along with the instructions!
        The website also includes great additional details that I think is worth
        checking out! I already have a mental note of some alternatives in case 
        we are unable to try the original recipe! Remember, we can always include 
        and discard any ingredients to make the recipe more Rashad-friendly! 
        I can't wait to bake with you! ☺️🤍
    </p>

    <p>
        <a href="https://meaningfuleats.com/gluten-free-little-debbie-christmas-trees/">
            Gluten Free Little Debbie Christmas Trees Recipe
        </a>
    </p>

</div>