<h1>
    <b>Day 5:</b> Holiday Shorts
</h1>

<div class="section-5">
    <iframe width="560" height="315" 
    src="https://www.youtube.com/embed/xUNrRQzd-g8?si=30EUx8UFnZZ6lDn1" 
    title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; 
    clipboard-write; encrypted-media; gyroscope; picture-in-picture; 
    web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen>
    </iframe>

    <p>
        SURPRISE! Welcome to Holiday Shorts! Here I have included the original 
        Tom and Jerry | The Night Before Christmas (1941 Full Episode) | Warner 
        Classics. This is for you, so take a break, relax, and get cozy as you 
        watch the video! ☺️
    </p>

    <p>
        DESCRIPTION: Tom and Jerry have a squabble under the Christmas tree, 
        until the holiday spirit catches up with them.

        About The Night Before Christmas (Original Air Date - December 6, 1941):
        The Night Before Christmas is a 1941 American one-reel animated cartoon 
        and is the third Tom and Jerry short directed by William Hanna and 
        Joseph Barbera, produced by Fred Quimby and animated by Jack Zander, 
        George Gordon, Irven Spence and Bill Littlejohn. It was nominated for 
        the 1941 Academy Award for Best Short Subject: Cartoons, but lost to 
        the Mickey Mouse short film Lend a Paw, making it the only Tom and Jerry 
        cartoon to lose to a Disney film.
    </p>
</div>