.section-14 {
    text-align: center;
}

p {
    font-family: 'della_respiraregular', georgia, serif;
    font-size: 18px;
    position: relative;
    color: white;
    padding-left: 150px;
    padding-right: 150px;
    text-indent: 20px;
}

img {
    height: 500px; /* Set a uniform height for all images */
    width: auto; /* Maintain aspect ratio */
    object-fit: contain; /* Fit images without cropping */
    border-radius: 8px; /* Optional: rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add subtle shadow for depth */
}