<h1>
    <b>Day 16:</b> Holiday-Themed Secret Couple Recipes
</h1>


<div class="section-16">
    <img src="\assets\gluten-free-vegan-cream-puffs_sq.jpg" />

    <p>
        SURPRISE! Welcome to our Holiday-Themed Secret Couple Recipe! ✨ Here I have 
        compiled a list of Rashad-friendly ingredients for us to one day bake your 
        anticipated favorite: Gluten-Free Vegan Cream Puffs ! ☺️🎄🤍 
    </p>

    <p>
        <i>"Beard Papa's who????"</i> 😜
    </p>

    <p>
        To ensure our recipe is gluten-free, caffeine-free, peanut/tree nut-free,
        dairy-free, plant-based, organic and vegan.. I will list some of the ingredients 
        that fall under these categories below just to get a feel for what we're going to
        be working with! P.S. If anytime, you feel that 
        we may need to change our ingredients to better suit you, that's not a 
        problem at all! ☺️ I will be more than happy to do more research so that 
        we can always make delicious holiday treats for us to share together! 🤍
    </p>

    <br>

    <div class="ingredients">
        <ol class="myList">
            INGREDIENTS:
            <li>½ cup non-dairy milk </li>
            <li>¼ cup non-dairy butter</li>
            <li>1 tbsp maple syrup</li>
            <li>1 tsp pure vanilla extract</li>
            <li>⅛ tsp salt</li>
            <li>1 box of Gluten-Free flour mix</li>
            <li>½ tsp gluten-free baking powder</li>
            ...
        </ol>
    </div>

    <br>

    <p>
        Below is the link to the full recipe I found, along with the instructions!
        The website also includes great additional details that I think is worth
        checking out! I already have a mental note of some alternatives in case 
        we are unable to try the original recipe! Remember, we can always include 
        and discard any ingredients to make the recipe more Rashad-friendly
        and festive for the holidays! I can't wait to bake with you! ☺️🤍
    </p>

    <p>
        <a href="https://www.unconventionalbaker.com/gluten-free-vegan-cream-puffs-profiteroles-refined-sugar-free/">
            Gluten-Free Vegan Cream Puffs Recipe
        </a>
    </p>

</div>