/* You can add global styles to this file, and also import other style files */
body{
    background-color: #0b203f;
    background-image: url("assets/BlueChristmas.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

h1{
    font-family: 'della_respiraregular', georgia, serif;
    font-size: 40px;
    position: relative;
    z-index: 0; /* Ensure it's below the snow */
    color: white;
    text-align: center;

}