<h1>
    <b>Day 7:</b> Crack The Code
</h1>

<div class="section-7">
    <iframe src="https://giphy.com/embed/Wv7m7r6RMzEuNztSfA" 
        width="480" height="271" 
        style="border: none" 
        frameBorder="0" 
        class="giphy-embed" 
        allowFullScreen>
    </iframe>

    <p> 
        SURPRISE! Welcome to Crack The Code, or should I say... <i>"The Case of the 
        Secret Christmas Code!" </i> 🕵️‍♂️🎄 Jinkies! Looks like Mystery Inc. has 
        uncovered a secret Christmas message just for you, Rashad! Shaggy and 
        Scooby are on snack duty, and Velma left you this yummy Morse code to 
        crack. Can you solve it and reveal the holiday surprise? Zoinks—better 
        hurry before the ghost of Christmas snacks eats it all!
    </p>

    <p>
        INSTRUCTIONS: Translate this yummy Morse code to uncover your secret 
        Christmas surprise! 
        <br>
        <br>
        🥛🥛🍪🍪 🥛🥛🥛 🍪🍪 🥛🍪 🥛🍪🥛 🍪🍪🍪 🥛🍪🥛🍪🥛🥛 / 🍪🍪 / 🍪🥛🍪🍪 🥛🥛🥛 🍪🍪🍪🥛 🍪 / 🥛🍪🥛🥛 🥛🥛🥛 🍪🍪🥛 / 🥛🥛 🥛🥛🥛 🍪🥛🍪 🍪 / 🥛 🍪🍪🍪🍪 🍪🥛 🥛🍪 / 🍪🍪🍪 🥛🍪🥛🍪 🥛🥛🥛 🥛🥛🥛 🥛🍪🍪🍪 🥛🍪🥛🥛 / 🍪🍪🍪 🥛🍪 🍪🥛 🥛🍪🥛🍪 🥛🍪🥛 🍪🍪🍪 🥛🍪🥛🍪🥛🥛
        <br>
        <br>
        CLUE: Cookies (🍪) represent dots, and glasses of milk (🥛) represent dashes. Forward 
        slashes (/) represent spaces! Translate them to reveal the hidden message!
        Good luck, Detective Rashad!
    </p>

    <p>
        Once you're finished, Velma has included the answer below! Make sure you 
        use your mouse to hover over or around to see the answer! Remember, no 
        cheating Shad! 😝 You get one selfie from me if you successfully crack
        the code! 🤍 Let me know if you won!! I hope this was fun, I love you, 
        silly!
    </p>

    <br>

    <p>
        <b>HOVER HERE FOR THE ANSWER!</b>
    </p>

    <div class="answerKey">
        <p class="morse">
            Morse Code Answer!
        </p>
        <p class="answer">
            "Zoinks! I love you more than Scooby snacks!"
        </p>

        <br>
        <br>
    </div>

</div>
