.section-19 {
    text-align: center;
}

p {
    font-family: 'della_respiraregular', georgia, serif;
    font-size: 18px;
    position: relative;
    color: white;
    padding-left: 150px;
    padding-right: 150px;
    text-indent: 20px;
}

button {
    font-family: 'della_respiraregular', georgia, serif;
    background-color: lightgray;
    color: black;
    font-size: 50px;
    border-color: gray;
    border-radius: 10px;
    border-width: 20px;
}

button:hover{
    background-color: green;
    color: white;
}

.surprise {
    color: white;
    display: grid;
    place-items: center;
    opacity: 0;

    &.visible {
        opacity: 1;
    }
}