<h1>
    <b>Day 25:</b> Merry Christmas Rashad!
</h1>

<div class="section-25">
    <img src="\assets\Marley.jpg"/>

    <p>
        SURPRISE! Merry Christmas Rashad! 🎄🎅🎁🤍 You made it to the final 
        door of your Christmas Advent Calendar! I hope you enjoyed each and every
        surprise leading up to this day! I wanted to make this holiday season
        extra special for you, and I hope I succeeded! Here's a little something
        from Milo, Marley and I! 🐾🦎🤍 We love you so much and hope you have
        an amazing Christmas with all of your loved ones this year! 
    </p>

    <p>
        P.S. I hope you felt the love and joy I poured into each surprise. 🤍 I
        made this Advent Calendar with sooo much love! Creating each and every
        door reminded me of how much I love making you happy. 🤍 You also make 
        me really happy Shad, and this was just my little way of showing 
        you how much you mean to me. Thank you for being the amazing person that 
        you are. You have showed me so much kindness, compassion, understanding, 
        and most of all—so much love. I am so incredibly grateful to have someone 
        like you in my life. You are literally everything I could have ever asked for 
        and more! Merry Christmas, my love. You're the greatest gift I could have 
        ever received. 🎁🤍 I love you more, always!!!
    </p>

    <p>
        Love, Dalila Solis 🫂🤍☺️
    </p>
</div>