<h1>
    <b>Day 17:</b> Brain Teaser
</h1>

<div class="section-17">
    <iframe src="https://giphy.com/embed/W80GnT2PRVnfSBfPao" 
        width="480" height="271" 
        style="border: none" 
        frameBorder="0" 
        class="giphy-embed" 
        allowFullScreen>
    </iframe>

    <p> 
        SURPRISE! Welcome to Brain Teaser or should I say... <i>"Operation:
        Frostbrain Teaser!" </i> 🥶🧠 Focus up! It seems like Cortana has 
        left you a cryptic math puzzle to solve, Spartan! Master Chief is 
        counting on you to solve this ASAP. Solve the math puzzle below to 
        reveal your holiday surprise! Think fast, the Covenant is closing in!
    </p>

    <p>
        INSTRUCTIONS: Solve the math puzzle to reveal your secret Christmas surprise!
    </p>

        <ul>
            <li>💣 + 💣 = 6</li>
            <li>❄️ x 💣💣 = 30</li>
            <li>🎄 x ❄️ = 45</li>
            <li>💣💣 + 🎄 = <b>?</b></li>
        </ul>

    <p>
        CLUE: Grenades (💣), snowflakes (❄️), and christmas trees (🎄) 
        represent odd numbers. Double grenades (💣💣) represent even numbers!
        Interpret them to reveal the hidden message! Good luck, Spartan Rashad!
    </p>

    <p>
        Once you're finished, Cortana has included the answer below! Make sure you 
        use your mouse to hover over or around to see the answer! Remember, no 
        cheating Shad! 😝 You get one selfie from me if you successfully solve
        the brain teaser! 🤍 Let me know if you won!! I hope this was fun, I love you, 
        silly!
    </p>

    <br>

    <p>
        <b>HOVER HERE FOR THE ANSWER!</b>
    </p>

    <div class="answerKey">
        <p class="teaser">
            Brain Teaser Answer!
        </p>
        <p class="answer">
            15
            <br>
            Grenades (💣) = 3, Snowflakes (❄️) = 5, Christmas Trees (🎄) = 9
            <br>
            "You’re my hero, Spartan! I love you 117%!"
        </p>

        <br>
        <br>
    </div>

</div>
