<h1>
    <b>Day 24:</b> Wordsearch Puzzle
</h1>

<div class="section-24">
    <iframe src="https://wordsearchlabs.com/embed/743792" frameborder="0" width="900" height="600"></iframe>

    <br>

    <p class="credit">
        Deck The halls (Jazz Version) by Alex-Productions.
        Source: (Free Music Archive). License type: (CC BY-NC).
    </p>
    <audio controls loop>
        <source src="\assets\Alex-Productions - Deck The halls (Jazz Version).mp3" />
    </audio>
    
    <p> 
        SURPRISE! Welcome to Wordsearch Puzzle! ✨ Here I have created a custom
        wordsearch puzzle for you to solve! This should be relatively quick and
        easy for you, thus you should be able to complete this in no time! ☺️ I 
        also included some music for you to get in the Christmas spirit! 🤍 (The 
        music automatically loops, so you can enjoy it while you work on your 
        puzzle!) 🎄🎅🏼🤍
    </p>

    <p>
        INSTRUCTIONS: Find the special hidden words listed above in the grid of 
        letters. The words can be found going across, down, or diagonally in any
        direction. The word placement can be horizontally, vertically, or diagonally.
        No clues will be provided for this puzzle, but I believe in you! You can 
        do it Shad! 😝🤍 You get one selfie from me for each correct 
        answer you get! 🤍 Let me know if you won!! I hope this was fun, I love 
        you more silly! 🤍 Click on the audio tag, which is located under the 
        wordsearch puzzle grid to enjoy some Christmas tunes! I hope you enjoy!! 🤍
    </p>

</div>
