<h1>
    <b>Day 20:</b> Crossword Puzzle
</h1>

<div class="section-20">
    <iframe width="900" height="600" style="border:3px solid black; margin:auto; display:block" frameborder="0" src="https://crosswordlabs.com/embed/lala-shad-3"></iframe>

    <br>

    <p class="credit">
        Christmas Jazz by Denys Kyshchuk. Source: (Free Music Archive). 
        License type: (CC BY-NC-ND).
    </p>
    <audio controls loop>
        <source src="\assets\Denys Kyshchuk - Christmas Jazz.mp3" />
    </audio>
    
    <p> 
        SURPRISE! Welcome to Crossword Puzzle! ✨ Here I have created a custom
        crossword puzzle for you to solve! This should be relatively quick and
        easy for you, thus you should be able to complete this in no time! ☺️ I 
        also included some music for you to get in the Christmas spirit! 🤍 (The 
        music automatically loops, so you can enjoy it while you work on your 
        puzzle!) 🎄🎅🏼🤍
    </p>

    <p>
        INSTRUCTIONS: Type your guessed answers in the empty numbered boxes above. 
        Clues will be provided for each numbered box to help you solve the puzzle! 
        The special words are hidden in the grid going across or down! If you are
        stuck, you can hover over the "Show Answer" button below for a hint! Remember, 
        no cheating Shad! 😝🤍 You get one selfie from me for each correct 
        answer you get! 🤍 Let me know if you won!! I hope this was fun, I love 
        you more silly! 🤍 Click on the audio tag right after, which is located 
        under the crossword puzzle grid to enjoy some Christmas tunes! I hope you enjoy!! 🤍
    </p>

    <br>

    <p>
        <b>HOVER HERE FOR THE ANSWERS!</b>
    </p>

    <div class="answerKey">
        <div class="answerKeyAcross">

            <p class="across5">
                Answer: Across 5!
            </p>
            <p class="answer">
                sushi
            </p>
    
            <br>
            <br>
    
            <p class="across6">
                Answer: Across 6!
            </p>
            <p class="answer">
                scooby-doo
            </p>
    
            <br>
            <br>
    
            <p class="across7">
                Answer: Across 7!
            </p>
            <p class="answer">
               silly
            </p>
    
            <br>
            <br>
    
            <p class="across9">
                Answer: Across 9!
            </p>
            <p class="answer">
                march
            </p>
    
            <br>
            <br>
    
            <p class="across12">
                Answer: Across 12!
            </p>
            <p class="answer">
                snake
            </p>
    
            <br>
            <br>
    
            <p class="across15">
                Answer: Across 15!
            </p>
            <p class="answer">
                abel
            </p>
    
            <br>
            <br>
    
            <p class="across16">
                Answer: Across 16!
            </p>
            <p class="answer">
                horror
            </p>
    
            <br>
            <br>
    
            <p class="across17">
                Answer: Across 17!
            </p>
            <p class="answer">
                teddy-bear
            </p>
    
            <br>
            <br>
    
            <p class="across18">
                Answer: Across 18!
            </p>
            <p class="answer">
                cuddle
            </p>
    
            <br>
            <br>
    
        </div>
        
        <div class="answerKeyDown">
    
            <p class="down1">
                Answer: Down 1!
            </p>
            <p class="answer">
                halo
            </p>
    
            <br>
            <br>
        
            <p class="down2">
                Answer: Down 2!
            </p>
            <p class="answer">
                daddy
            </p>
    
            <br>
            <br>
        
            <p class="down3">
                Answer: Down 3!
            </p>
            <p class="answer">
                husky
            </p>
    
            <br>
            <br>
        
            <p class="down4">
                Answer: Down 4!
            </p>
            <p class="answer">
                boba
            </p>
    
            <br>
            <br>
        
            <p class="down5">
                Answer: Down 5!
            </p>
            <p class="answer">
                soulmate
            </p>
    
            <br>
            <br>
    
            <p class="down6">
                Answer: Down 6!
            </p>
            <p class="answer">
                switzerland
            </p>
    
            <br>
            <br>
    
            <p class="down8">
                Answer: Down 8!
            </p>
            <p class="answer">
                june
            </p>
    
            <br>
            <br>
    
            <p class="down10">
                Answer: Down 10!
            </p>
            <p class="answer">
                beard
            </p>
    
            <br>
            <br>
    
            <p class="down11">
                Answer: Down 11!
            </p>
            <p class="answer">
                letter
            </p>
    
            <br>
            <br>
            <p class="down13">
                Answer: Down 13!
            </p>
            <p class="answer">
                spongebob
            </p>
    
            <br>
            <br>
    
            <p class="down14">
                Answer: Down 14!
            </p>
            <p class="answer">
                nerd
            </p>
        </div>
    </div>
</div>
