<h1>
    <b>Day 3:</b> Emoji Trivia
</h1>

<div class="section-3">
    <div class="emojis">
        <ol class="myList">
            <li>🙏🏾❄️🙏🏽❄️🙏🏿❄️</li>
            <li>🤘🏿🎸🔄🎄</li>
            <li>🔴👃🏾🦌</li>
            <li>🎶🔔🎸🤘🏽</li>
            <li>🎅🏼➡️🌃</li>
        </ol>
    </div>

    <p>
        SURPRISE! Welcome to Emoji Trivia! Here you will guess the Christmas Songs
        represented by the emojis from the list above! No cheating, silly! Make sure 
        you try and take some time to guess the song! They're very popular Christmas
        classics, in fact, these are my favorites to play during the holidays! ☺️ This
        might be a no brainer for you, but just in case, I'll include instructions
        just for you!
    </p>
    
    <p>
        INSTRUCTIONS: Take at least a minute guessing what song each of the emojis
        represents! Once you're finished, I have included the answers below! Make 
        sure to use your mouse to hover over or around to see the answers! 
        Remember, no cheating Shad! 😝 You get one selfie from me for each 
        correct answer you get! 🤍 Let me know if you won!! I hope this was 
        fun, I love you, silly!
    </p>

    <br>
    <p>
        HOVER HERE FOR THE ANSWERS!
    </p>

    <div class="answerKey">
        <p class="emoji1">
            Hover for answer 1!
        </p>
        <p class="answer">
            Let It Snow! Let It Snow! Let It Snow!
        </p>
    
        <p class="emoji2">
            Hover for answer 2!
        </p>
        <p class="answer">
            Rockin’ Around the Christmas Tree
        </p>
    
        <p class="emoji3">
            Hover for answer 3!
        </p>
        <p class="answer">
            Rudolph the Red-Nosed Reindeer
        </p>
    
        <p class="emoji4">
            Hover for answer 4!
        </p>
        <p class="answer">
            Jingle Bell Rock
        </p>
    
        <p class="emoji5">
            Hover for answer 5!
        </p>
        <p class="answer">
            Santa Claus Is Coming to Town
        </p>
    </div>
</div>
